arrow==0.15.4
astroid==2.3.3
beautifulsoup4==4.8.1
binaryornot==0.4.4
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
cookiecutter==1.6.0
cookiejar==0.0.2
future==0.18.2
html5lib==1.0.1
idna==2.8
isort==4.3.21
Jinja2==2.10.3
jinja2-time==0.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mechanize==0.4.4
pager==3.3
poyo==0.5.0
pylint==2.4.4
python-dateutil==2.8.1
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
typed-ast==1.4.0
urllib3==1.25.7
webencodings==0.5.1
whichcraft==0.6.1
wrapt==1.11.2
